{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block page_content %}
    <h1 style="text-align: center;">{% trans "Password Reset" %}</h1>

<div class="container col col-md-5 justify-content-center panel-background shadow-sm p-3">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p style="color:black;">Wysłaliśmy Ci wiadomość e-mail z linkiem do resetowania hasła.
        <br>
        Jeżeli jej nie otrzymałeś, sprawdź proszę folder SPAM.
        <br>
        Skontaktuj się z nami, jeżeli nie otrzymasz jej w ciągu kilku minut.</p>
</div>
{% endblock %}
