{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Change Password" %} - {% endblock %}

{% block page_content %}

<h1>{% trans "Change Password" %}</h1>

<!--<div class="container col col-md-5 justify-content-center panel-background shadow-sm p-3">-->
<!--        {% crispy form %}-->
<!--        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>-->
<!--</div>-->

<div class="container col col-md-5 justify-content-center panel-background shadow-sm p-3">
        {% crispy password_change_form %}
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</div>

{% endblock %}
