{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_content %}

    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
<div class="container col col-md-5 justify-content-center panel-background shadow-sm p-3">

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% crispy form %}
    {% endif %}
</div>
{% endblock %}
