DJANGO_SECRET_KEY=!!!SET DJANGO_SECRET_KEY!!!
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_ADMIN_URL=admin/

# DATABASE_URL=postgres://myuser:mypasswd@localhost:5432/database

# DJANGO_EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
# EMAIL_HOST=your_smtp_server
# EMAIL_PORT=587
# EMAIL_HOST_USER=your_email_user
# EMAIL_HOST_PASSWORD=your_email_password
# EMAIL_USE_TLS=True
# DEFAULT_FROM_EMAIL="your_domain" <noreply@your_domain>

GOOGLE_MAPS_API_KEY=your_google_maps_js_api_key

PAYPAL_MODE = "sandbox"
# PAYPAL_MODE = "live"
PAYPAL_CLIENT_ID = your_client_id
PAYPAL_CLIENT_SECRET = your_client_secret
PAYPAL_WEBHOOK_ID = your_webhook_id

STATIC_ROOT="path_to/static/"
MEDIA_ROOT="path_to/media/"
