{% extends "base.html" %}
{% load static %}

{% block title %}O aplikacji{% endblock %}
{% block content %}
<h2>O aplikacji</h2>

<img src="{% static 'main/images/timecashier_logo.png' %}" alt="TimeCashier"  style="max-width: 5%; height: auto; min-width: 150px;">

<p style="margin-top:20px;">Aplikacja TimeCashier służy do rejestrowania czasu pracy spędzonego u klientów na podstawie bieżącej lokalizacji użytkownika.</p>

<div class="row panel-background" style="margin-top: 30px; padding: 20px;">
<ol><b>Lista funkcjonalności:</b>
    <li>Automatyczne pobieranie lokalizacji zalogowanego użytkownika przy wejściu na Dashboard aplikacji</li>
    <li>Dashboard - sprawdzenie aktualnego położenia na mapie - link pod nagłówkiem</li>
    <li>Dashboard - dodawanie nowego zadania dla Klienta znajdującego się najbliżej, z bieżącą datą startu <b><i>jednym kliknięciem</i></b></li>
    <li>Dashboard - zakończenie aktywnego zadania, wraz z możliwością dodania opcjonalnego opisu (do 500 znaków)</li>
    <li>Klienci - edycja i dodawanie nowych klientów</li>
    <li>Klienci - automatyczne podpowiadanie bieżącej lokalizacji przy dodawaniu nowego klienta</li>
    <li>Klienci - podgląd lokalizacji klienta na mapie po kliknięciu w nazwę klienta</li>
    <li>Zadania - możliwość filtrowania zadań po kliencie i skopiowania do schowka, bądź pobrania wybranych rekordów do pliku csv</li>
    <li>Zadania - możliwość edycji i usuwania zakończonych zadań</li>
    <li>Zadania - walidacja dat i komunikaty o błędach</li>
    <li>Logowanie - możliwość zmiany hasła użytkownika</li>
    <li>Logowanie - automatyczne blokowanie adresu po kilku nieudanych próbach logowania</li>
</ol>
</div>



{% endblock %}