{% extends "main/base.html" %}
{% load static %}

{% block title %}O aplikacji{% endblock %}
{% block content %}
<h2>O aplikacji</h2>

<img src="{% static 'main/images/timecashier_logo.png' %}" alt="TimeCashier"  style="max-width: 20%; height: auto; min-width: 150px;">

<p>Aplikacja służy do zliczania czasu pracy na podstawie lokalizacji użytkownika.</p>
<ol><b>Lista funkcjonalności w trakcie przygotowania:</b>
    <li>Aktywne zadania - guzik STOP</li>
    <li>Zadania - EDYCJA</li>
    <li>Zadania - wiersz TOTAL</li>
    <li>Responsywność - iphone</li>
    <li>Filtrowanie zadań</li>
    <li>Raport pdf</li>
</ol>
{% endblock %}