<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | TimeCashier</title>
</head>
<body>
<header>
    {% load static %}
    <a href="/"><img src="{% static 'images/timecashier_logo.png' %}" alt="TimeCashier"  style="max-width: 10%; height: auto;"></a>
    TIMECASHIER APP
    <br>
    <nav>
        <a href="/">Home</a> <a href="{% url 'entries:entries' %}">Wpisy</a> <a href="{% url 'entries:clients' %}">Klienci</a>
    </nav>
    </header>
{% block content %}
{% endblock %}

<footer>TimeCashier 2022 <a href="{% url 'main:about' %}">About</a></footer>
</body>
</html>