{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

{% csrf_token %}
<script>getLocation()</script>

<h2>Dashboard</h2>

<a id="mapslink" target="_blank" style="font-size: 0.75rem"></a>


<!--<div class="row" style="margin-top: 30px; padding: 10px;">-->
{% if active_entries|length > 0 %}
<div class="row panel-background" style="margin-top: 10px; padding: 10px;">
    <h4>Aktywne zadanie</h4>
    <table id="table_active_entries" class="table table-striped table-dark dt-responsive border_table" style="width:100%">
        <thead>
            <th></th>
            <th>Klient</th>
            <th>Start</th>
            <th></th>
        </thead>
        <tbody>
        {% for entry in active_entries %}
        <tr>
            <td><i class="bi-caret-right-square blue-icon"></i></td>
            <td>{{ entry.client.name }}</td>
            <td id="start">{{ entry.start }}</td>
            <td>
                <a href="{% url 'entries:entry_save' entry.id %}">
<!--                    <i class="bi-stop-circle-fill red-icon"></i>-->
                    <button class="btn btn-danger rounded-pill">STOP</button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
</div>

{% endif %}

<div class="row panel-background" style="margin-top: 10px; padding-right: 50px; padding-bottom: 30px;">
    {% crispy form %}
</div>

<div class="row panel-background" style="margin-top: 20px; padding: 10px;">
    <h4>Ostatnie zadania</h4>
    <table id="table_entries_last" class="table table-striped table-dark dt-responsive border_table" style="width:100%">
        <thead>
            <th></th>
            <th>Klient</th>
            <th>Start </th>
            <th>Koniec</th>
            <th>Czas</th>
            <th></th>
        </thead>
        <tbody>
        {% for entry in entries %}
        <tr>
            <td><i class="bi-check-circle green-icon"></i></td>
            <td>{{ entry.client.name }}</td>
            <td id="start">{{ entry.start }}</td>
            <td id="end">{{ entry.end }}</td>
            <td id="duration" >{{ entry.duration }}</td>
            <td>
                <a href="{% url 'entries:entry_details' entry.id %}">
                    <i class="bi-pencil-square blue-icon"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}