{% extends "main/base.html" %}

{% load crispy_forms_tags %}

{% load static %}
{% block style %}<link href="{% static 'entries/css/style.css' %}" rel="stylesheet">{% endblock %}
{% block title %}Home{% endblock %}

{{% block content %}

{% csrf_token %}
<script>getLocation()</script>

<h2>Dashboard</h2>

<a id="mapslink" target="_blank"></a><br>

<div id="timer"></div>

<div class="row" style="margin-top: 30px; padding: 10px;">
</div>

<!--<div class="row border" style="margin-top: 30px; padding: 10px;">-->
{% crispy form  %}
<!--</div>-->
<div class="row" style="margin-top: 30px; padding: 10px;">
    <h4>Aktywne zadania</h4>
    <table id="table_active_entries" class="table table-striped table-dark">
        <thead><th>Klient</th><th>Start</th><th></th></thead>
        <tbody>
        {% for entry in active_entries %}
        <tr>
            <td>{{ entry.client.name }}</td>
            <td id="start">{{ entry.start }}</td>
            </td><td><a href="{% url 'entries:entry_details' entry.id %}"><i class="bi-pencil-square blue-icon"></i></a> | <a href="{% url 'entries:entry_details' entry.id %}"><i class="bi-stop-circle red-icon"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}