{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Logowanie -{% endblock %}

{% block page_content %}
<div class="container">
<div class="row mt-5">
    <div class="col-md justify-content-center align-self-center">
        <img src="{% static 'main/images/timecashier_logo.png' %}" alt="TimeCashier" class="rounded mx-auto d-block" style="max-width: 50%; height: auto; min-width: 150px;">

        <h2 class="text-center m-4">TimeCashier służy do rejestrowania czasu pracy spędzonego u klientów na podstawie bieżącej lokalizacji użytkownika</h2>
    </div>

<div class="col-md justify-content-center panel-background shadow">
    <h3>Aplikacja TimeCashier oferuje:</h3>
<ul>
    <li>Automatyczne pobieranie dokładnej lokalizacji zalogowanego użytkownika przy wejściu na Dashboard aplikacji</li>
    <li>Dashboard - możliwość sprawdzenia odczytanego położenia, z wykorzystaniem odwrotnego geokodowania oraz na mapie - link pod nagłówkiem</li>
    <li>Dashboard - dodawanie nowego zadania dla Klienta znajdującego się najbliżej, z bieżącą datą startu <b>jednym kliknięciem</b></li>
    <li>Dashboard - zakończenie aktywnego zadania, wraz z możliwością dodania opcjonalnego opisu (do 500 znaków)</li>
    <li>Klienci - edycja i dodawanie nowych klientów</li>
    <li>Klienci - automatyczne podpowiadanie bieżącej lokalizacji przy dodawaniu nowego klienta</li>
    <li>Klienci - podgląd lokalizacji klienta na osadzonej w aplikacji mapie</li>
    <li>Zadania - możliwość wyszukiwania zadań po kliencie i datach startu oraz zakończenia</li>
    <li>Zadania - pobieranie zastawień wykonanych zadań do pliku csv, arkusza Excel lub pliku Word</li>
    <li>Logowanie - możliwość logowania z wykorzystaniem konta Google - bez konieczności standardowej rejestracji</li>
    <li>Logowanie - możliwość zresetowania zapomnianego hasła z wykorzystanim linku przesłanego na adres mailowy</li>
    <li>Logowanie - automatyczne blokowanie adresu IP po kilku nieudanych próbach logowania</li>
</ul>

</div>
</div>
</div>
{% endblock %}
