{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Logowanie -{% endblock %}

{% block page_content %}
<div class="container">
<div class="row mt-5">
    <div class="col-md justify-content-center align-self-center">
        <img src="{% static 'main/images/timecashier_logo_500_transparent.png' %}" alt="TimeCashier" class="rounded mx-auto d-block" style="max-width: 50%; height: auto; min-width: 150px;">
        <h2 class="text-center m-4">Oszczędź swój czas i zarabiaj więcej</h2>
        <div class="d-flex justify-content-center align-items-center">
            <a href="/accounts/login/">
                <button type="button" class="btn btn-lg btn-time-primary rounded-pill w-60 m-4">
                    Zaloguj się i zacznij rejestrować czas
                </button>
            </a>
        </div>
    </div>

    <div class="col-md justify-content-center align-self-center">
        <p>Nie trać więcej cennego czasu na ręczne rejestrowanie swoich godzin pracy!
            TimeCashier to innowacyjna aplikacja, która pozwoli Ci na dokładne
            i łatwe monitorowanie swojego czasu pracy.</p>
        <p style="font-weight: bold">Dzięki funkcji bieżącej lokalizacji użytkownika,
            aplikacja automatycznie zarejestruje u którego z klientów jesteś,
            co pozwoli Ci na oszczędzenie cennych minut każdego dnia.</p>
        <p>Nie musisz już pamiętać, ile czasu spędziłeś u każdego klienta ani ręcznie wypełniać
            tabelek na koniec dnia.
            TimeCashier robi to wszystko za Ciebie!
        <p>Zapewnij sobie sukces i zbuduj trwałe relacje biznesowe dzięki lepszej komunikacji
            i większemu zaufaniu swoich klientów.
            Aplikacja umożliwia łatwe pobieranie danych z wykazem wykonanych zadań
            oraz dokładnym czasem ich realizacji</p>
        <p>Dzięki TimeCashier zawsze będziesz miał kontrolę nad swoim czasem i zarobkami.</p>
    </div>
</div>
</div>
{% endblock %}
