{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">

<!--datatables-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap5.min.css">

	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap5.min.js"></script>

<!--przed responsywnoscia-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.4/b-2.2.2/b-html5-2.2.2/date-1.1.2/sp-1.4.0/datatables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.4/b-2.2.2/b-html5-2.2.2/date-1.1.2/sp-1.4.0/datatables.min.js"></script>
    	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">


<!--internal    -->
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'entries/js/main.js' %}"></script>
    <script src="{% static 'entries/js/datatables.js' %}"></script>
    <script type="text/javascript">
        setTimeout(function () {
            $('.alert').alert('close');
        }, 5000);
    </script>
    {% block style %}{% endblock %}

    <title>{% block title %}{% endblock %} | TimeCashier</title>
    <link rel="icon" href="{% static 'main/images/favicon.ico' %}">
</head>


<body>
    <div class="container-fluid ">
<!--                <div style="row justify-content-center p-5 my-5">-->
<!--            <div style="col">-->
        <div class="col justify-content-center p-2" style="margin-top:25px;">
        <!-- Offcanvas Sidebar -->
    <div class="offcanvas offcanvas-start bg-dark" id="sidebar2">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title">TimeCashier</h3>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-unstyled components ">
                {% if user.is_authenticated %}
<!--                <li> <a href="{% url 'main:home' %}"><i class="bi-house-fill"></i> Dashboard</a> </li>-->
                <li> <a href="{% url 'entries:entries' %}"><i class="bi-clock-history"></i> Zadania</a> </li>
                <li> <a href="{% url 'entries:clients' %}"><i class="bi-building"></i> Klienci</a> </li>
                <li> <a href="{% url 'main:about' %}"><i class="bi-info-square"></i> O aplikacji</a> </li>
                <li style="border-bottom: 1px solid #fff"> <p></p> </li>
                <li><a href="{% url 'logout' %}"><i class="bi-box-arrow-right"></i> Wyloguj</a></li>
                {% else %}
                <li><a href="{% url 'main:index' %}"><i class="bi-box-arrow-in-right"></i> Zaloguj</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'main:home' %}">TimeCashier</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                  {% if user.is_authenticated %}
        <!--            <li> <a class="nav-link active" href="{% url 'main:home' %}"><i class="bi-house-fill"></i> Dashboard</a> </li>-->
                    <li> <a class="nav-link" href="{% url 'entries:entries' %}"><i class="bi-clock-history"></i> Zadania</a> </li>
                    <li> <a class="nav-link" href="{% url 'entries:clients' %}"><i class="bi-building"></i> Klienci</a> </li>
                    <li> <a class="nav-link" href="{% url 'main:about' %}"><i class="bi-info-square"></i> O aplikacji</a> </li>
                    <li> <a class="nav-link" href="{% url 'main:change_password' %}"}><i class="bi-person-square"></i> Profil</a> </li>
                    <li style="border-bottom: 1px solid #fff"> <p></p> </li>
                    <li><a class="nav-link" href="{% url 'logout' %}"><span class="bi-box-arrow-right red-icon"> Wyloguj</span></a></li>
                    {% else %}
                    <li><a class="nav-link" href="{% url 'main:index' %}"><span class="bi-box-arrow-in-right blue-icon"> Zaloguj</span></a></li>
                    {% endif %}
              </div>
            </div>
        </div>
    </nav>


            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% block content %}
            {% endblock %}
        </div>

</body>
        <div class="footer">
            <hr style="margin-bottom:2px;">
            <div class="text-muted">© 2022 TimeCashier</div>
        </div>
            </div>
</html>

