{% extends "main/base.html" %}

{% block title %}Klienci{% endblock %}

{% block content %}
<h1>Lista klientów</h1>
<table>
    <thead><th>Lp.</th><th>Nazwa</th><th>Szerokość geograficzna</th><th>Długość geograficzna</th><th>Data dodania</th></thead>
    {% for client in clients_list %}
    <tr><td>{{ client.id }}.</td><td><a href="/clients/{{ client.id }}">{% if client.active %} (nieaktywny) {% endif %} {{ client.name }}</a></td><td>{{ client.latitude }}</td><td>{{ client.longitude }}</td><td>{{ client.created }}</td></tr>
    {% endfor %}
</table>
{% endblock %}