{% extends "main/base.html" %}

{% load static %}
{% block style %}<link href="{% static 'entries/css/style.css' %}" rel="stylesheet">{% endblock %}

{% block title %}Wpisy{% endblock %}

{% block content %}
<h2>Wpisy</h2>
<table id="table_entries" class="table table-striped table-dark">
    <thead><th></th><th>Klient</th><th>Czas rozpoczęcia</th><th>Czas zakończenia</th></thead>
    <tbody>
    {% for entry in entries_list %}
    <tr><td>{{ entry.id }}</td><td>{{ entry.client.name }}</td><td>{{ entry.start }}</td><td>{{ entry.end }}</td></tr>
    {% endfor %}
    </tbody>
</table>
<script>
let table = new DataTable('#table_entries', {
    "pageLength":10,
    "order": [[ 2, "desc" ]]
    dom: 'Bfrtip',
        buttons: [
            'pageLength','copy', 'csv',
        ]
});
</script>
{% endblock %}