{% extends "base_bs_tables.html" %}

{% load static %}

{% block title %}Klienci -{% endblock %}

{% block content %}

<h1>Klienci</h1>
<div class="row container col justify-content-center" style="text-align: right; margin-bottom: 10px;">
    <a href="{% url 'entries:client_add' %}">
        <button class="btn btn-time-primary rounded-pill">Dodaj nowego klienta</button>
    </a>
</div>


<div class="row container col justify-content-center panel-background shadow">
    {% if clients_json %}
    <table
      id="bs-table-clients"
      data-toggle="table"
      data-locale="pl-PL"
      data-show-columns="true"
      data-show-columns-toggle-all="true"
      data-search="true"

      data-pagination="true"
      data-page-size="10"
      data-page-list="[10, 25, 50, 100]"
      data-show-pagination-switch="true"
      data-show-extended-pagination="true"
      data-pagination-pre-text="&laquo;"
      data-pagination-next-text="&raquo;"

      data-data="{{ clients_json }}"
      class="table table-light table-striped table-hover">
      <thead>
        <tr>
            <th data-field=id data-sortable="true" data-sorter="linkNumSorter" class="col-1 d-none d-md-table-cell">Id</th>
            <th data-field="name" data-sortable="true" data-sorter="linkSorter">Nazwa</th>
            <th data-field="longitude" data-sortable="true" data-sorter="linkSorter" class="d-none d-md-table-cell">Długość geo.</th>
            <th data-field="latitude" data-sortable="true" data-sorter="linkSorter" class="d-none d-md-table-cell">Szerokość geo.</th>
        </tr>
      </thead>
    </table>
    {% endif %}
</div>
{% endblock %}
