{% extends "base.html" %}

{% block title %}Szczegóły klienta -{% endblock %}

{% block content %}
<h2>{% if client.logo %}<img src="{{ client.logo.url }}" style="height:1em;">{% endif %} {{ client.name }}</h2>
<div>
    <small>Utworzono: {{ client.created }}, zmodyfikowano: {{ client.modified }}</small>
</div>
<div></div>

<div>
    <br>
    <a href= '{{ client_link }}' target="_blank">Zobacz w Mapach Google</a>
</div>

<iframe width="600" height="500" src="{{ client_link }}&z=15&&output=embed"></iframe>
{% endblock %}