{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Edycja klienta -{% endblock %}

{% block page_content %}

{% csrf_token %}


{% if client_details %}
<h1>Edycja klienta</h1>
<div style="text-align: center; margin-top:30px; margin-bottom:30px">
    <span>Utworzono: {{ client_details.created}}<br>Zmodyfikowano: {{ client_details.modified}}</span>
</div>
<p></p>
{% else %}
<h1>Dodaj klienta</h1>
{% endif %}

{% crispy form  %}{% if client_details %}
<div class="container col col-md-6 justify-content-center panel-background">
    <input type="hidden" id="hid_longitude" name="hid_longitude" value="" />
    <input type="hidden" id="hid_latitude" name="hid_latitude" value="" />
    <button type="button" class="btn btn-light rounded-pill w-100" onclick="setCurrentLocation()">Ustaw bieżącą lokalizację</button>
</div>

<br>
<div class="row container col justify-content-center panel-background shadow-sm p-3 my-3">
    <a href= '{{ client_link }}' target="_blank"><p>Kliknij aby zobaczyć w Mapach Google</p></a>
    <br>
    <iframe width="600" height="500" src="{{ client_link }}&z=15&&output=embed"></iframe>
</div>
{% endif %}
{% endblock %}

{% block additional_scripts %}
<script>getLocation()</script>
{% endblock %}
