{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Edycja klienta -{% endblock %}

{% block page_content %}

{% csrf_token %}

{% load l10n %}

{% if client_details %}
<h1>Edycja klienta</h1>
<div style="text-align: center; margin-top:30px; margin-bottom:30px">
    <span>Utworzono: {{ client_details.created}}<br>Zmodyfikowano: {{ client_details.modified}}</span>
</div>
<p></p>
{% else %}
<h1>Dodaj klienta</h1>
{% endif %}

{% crispy form  %}

{% if client_details %}
<div class="container col col-md-6 justify-content-center panel-background">
    <form action="{% url 'entries:client_delete' client_id=client_details.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-time-delete rounded-pill w-100" value="USUŃ"/>
    </form>
</div>

<!--{% if client_rates %}-->
<!--<table>-->
<!--    <tr>-->
<!--        <th>Rodzaj</th>-->
<!--        <th>Stawka</th>-->
<!--    </tr>-->
<!--    {% for rate in client_rates %}-->
<!--    <tr>-->
<!--        <td>{{ rate.name }}</td>-->
<!--        <td>{{ rate.rate }}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->
<!--{% endif %}-->
{% endif %}

<div class="container col col-md-6 justify-content-center panel-background">
    {% if client_details.zip_code %}
    <button id="btn-geocoding" type="button" class="btn btn-light rounded-pill w-100" onclick="geoCodeAddress()">Ustal na podstawie kodu pocztowego</button>
    {% else %}
    <button disabled id="btn-geocoding" type="button" class="btn btn-light rounded-pill w-100" onclick="geoCodeAddress()">Ustal na podstawie kodu pocztowego</button>
    {% endif %}
</div>


<div class="container col col-md-6 justify-content-center panel-background">
    <button type="button" class="btn btn-light rounded-pill w-100" onclick="getLocation()">Ustaw bieżącą lokalizację</button>
</div>
<br>
<div id="map" style="width:100%;height:500px" class="container col col-md-6 justify-content-center panel-background"></div>
{% endblock %}

{% block additional_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(document).ready(function(){
  $('#id_zip_code').mask('00-000');
});
</script>
<script src="{% static 'entries/js/main.js' %}"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxd_FDKWmoBx_ywEXflRnkmjHArAwnZ6E">
        defer
</script>

{% if client_lat and client_long %}
<script>
    initMap({{ client_lat|unlocalize }}, {{ client_long|unlocalize }});
</script>
{% else %}
<script>
    getLocation()
</script>
{% endif %}

{% endblock %}
