{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Edycja klienta -{% endblock %}

{% block content %}

{% csrf_token %}


{% if client_details %}
<h1>Edycja klienta</h1>
<div style="text-align: center; margin-top:30px; margin-bottom:30px">
    <span>Utworzono: {{ client_details.created}}<br>Zmodyfikowano: {{ client_details.modified}}</span>
</div>
<p></p>
{% else %}
<h1>Dodaj klienta</h1>
{% endif %}

{% crispy form  %}

{% if client_details %}
<br>
<div class="row container col justify-content-center panel-background shadow-sm p-3 my-3">
    <a href= '{{ client_link }}' target="_blank"><p>Kliknij aby zobaczyć w Mapach Google</p></a>
    <br>
    <iframe width="600" height="500" src="{{ client_link }}&z=15&&output=embed"></iframe>
</div>
{% endif %}
{% endblock %}

{% block additional_scripts %}
<script>getLocation()</script>
{% endblock %}
