{% extends "base_bs_tables.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Zadania -{% endblock %}

{% block page_content %}

<h1>Zadania</h1>
{% crispy search_entries_form %}

<div class="row container col justify-content-center panel-background shadow">
    {% if entries_json %}
    <table
      id="bs-table-entries"
      data-toggle="table"
      data-locale="pl-PL"
      data-show-columns="true"
      data-show-columns-toggle-all="true"
      data-show-fullscreen="true"
      data-search="true"

      data-pagination="true"
      data-page-size="10"
      data-page-list="[10, 25, 50, 100]"
      data-show-pagination-switch="true"
      data-show-extended-pagination="true"
      data-pagination-pre-text="&laquo;"
      data-pagination-next-text="&raquo;"

      data-show-export="true"
      data-export-types="['csv', 'excel', 'doc']"
      data-export-options='{"fileName": "zadania"}'

      data-data="{{ entries_json }}"
      class="table table-light table-striped table-hover table-sm">
      <thead>
        <tr>
            <th data-field=id data-sortable="true" data-sorter="linkNumSorter" class="d-none d-md-table-cell">Lp.</th>
            <th data-field="start" data-sortable="true" data-sorter="linkSorter">Start</th>
            <th data-field="end" data-sortable="true" data-sorter="linkSorter" class="d-none d-md-table-cell">Koniec</th>
            <th data-field="client__name" data-sortable="true" data-sorter="linkSorter">Klient</th>
            <th data-field="duration" data-sortable="true" data-sorter="linkSorter" >Czas</th>
        </tr>
      </thead>
    </table>
    {% endif %}
</div>

{% endblock %}
