{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Szczegóły zadania -{% endblock %}

{% block page_content %}
<h1>Szczegóły zadania</h1>
<div style="text-align: center; margin-top:30px; margin-bottom:30px">
    <span>Utworzono: {{ entry_details.created}} <br>Zmodyfikowano: {{ entry_details.modified}}</span>
</div>


{% crispy form  %}

<div class="container col col-md-6 justify-content-center panel-background">
    <form action="{% url 'entries:entry_delete' entry_id=entry_details.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-time-delete rounded-pill w-100" value="USUŃ"/>
    </form>
</div>
{% endblock %}
